<div class="register-page">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form">
      <h1 style="text-align: center">Register</h1>
      <mat-form-field appearance="outline" [style.width.px]="300">
        <input matInput placeholder="Full Name" formControlName="name" />
        <mat-hint *ngIf="registerForm.get('name').hasError('required')"
          >Full Name is required</mat-hint
        >
        <mat-error *ngIf="registerForm.get('name').hasError('required')"
          >Full Name is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]="300">
        <input
          matInput
          placeholder="Your Username"
          formControlName="username"
        />
        <mat-hint *ngIf="registerForm.get('username').hasError('required')"
          >Username is required</mat-hint
        >
        <mat-error *ngIf="registerForm.get('username').hasError('required')"
          >Username is required</mat-error
        >
        <mat-error *ngIf="registerForm.get('username').errors"
          >Username should contain atleast 6 characters</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]="300">
        <input matInput placeholder="Your Email" formControlName="email" />
        <mat-hint *ngIf="registerForm.get('email').hasError('required')"
          >Your email is required</mat-hint
        >
        <mat-error *ngIf="registerForm.get('email').hasError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="registerForm.get('email').hasError('email')"
          >Email should follow structure: email@domain</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]="300">
        <input matInput placeholder="Mobile Number" formControlName="phone" />
        <mat-hint *ngIf="registerForm.get('phone').hasError('required')"
          >Mobile number is required</mat-hint
        >
        <mat-error *ngIf="registerForm.get('phone').hasError('required')"
          >Mobile number is required</mat-error
        >
        <mat-error *ngIf="registerForm.get('phone').errors?.pattern"
          >Mobile number should follow structure: +37060000000 or
          860000000</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]="300">
        <input
          matInput
          placeholder="Your Password"
          type="password"
          formControlName="password"
          (input)="onPasswordInput()"
        />
        <mat-hint *ngIf="registerForm.get('password').hasError('required')"
          >Password is required</mat-hint
        >
        <mat-error *ngIf="registerForm.get('password').hasError('required')"
          >Password is required</mat-error
        >
        <mat-error
          *ngIf="registerForm.get('password').hasError('passwordInvalid')"
          >Password should contain a number</mat-error
        >
        <mat-error *ngIf="registerForm.get('password').errors"
          >Password should contain atleast 6 characters</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]="300">
        <input
          matInput
          placeholder="Password confirm"
          type="password"
          formControlName="passwordConfirm"
          (input)="onPasswordInput()"
        />
        <mat-hint
          *ngIf="registerForm.get('passwordConfirm').hasError('required')"
          >Password confirm is required</mat-hint
        >
        <mat-error
          *ngIf="
            registerForm.get('passwordConfirm').invalid &&
            registerForm.hasError('passwordsNotMatching')
          "
          >Password confirm should match</mat-error
        >
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!registerForm.valid"
        type="submit"
      >
        Register
      </button>
      <button
        style="margin-top: 15px"
        mat-flat-button
        color="primary"
        routerLink="/"
      >
        Back to home page
      </button>
    </div>
  </form>
</div>
