<div class="tracking-status-followup-page">
  <form>
    <div class="form">
      <h1 style="text-align: center">Order status</h1>
      <mat-label
        #trackingLabel
        id="trackingLabel"
        name="trackingLabel"
      ></mat-label>

      <mat-label style="padding-top: 10px">Tracking history:</mat-label>

      <!-- TODO: Implement list of status according to tracking number -->
      <button
        style="margin-top: 10px"
        mat-flat-button
        color="primary"
        routerLink="/"
      >
        Back to home page
      </button>
    </div>
  </form>
</div>
