<div class="restore-password-page">
  <form [formGroup]="restorePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form">
      <h1 style="text-align: center">Restore your password</h1>
      <mat-label style="margin-bottom: 20px"
        >If you've forgotten your password or need to reset it, we can email you
        a link to reset it.</mat-label
      >
      <mat-form-field appearance="outline" [style.width.px]="300">
        <input matInput placeholder="Your Email" formControlName="email" />
        <mat-hint *ngIf="restorePasswordForm.get('email').hasError('required')"
          >Your email is required</mat-hint
        >
        <mat-error *ngIf="restorePasswordForm.get('email').hasError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="restorePasswordForm.get('email').hasError('email')"
          >Email should follow structure: email@domain</mat-error
        >
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!restorePasswordForm.valid"
        type="submit"
      >
        Restore password
      </button>
      <button
        style="margin-top: 15px"
        mat-flat-button
        color="primary"
        routerLink="/"
      >
        Back to home page
      </button>
    </div>
  </form>
</div>
