<div class="faq-page">
  <form>
    <div class="form">
      <h1 style="text-align: center">Frequently Asked Questions</h1>
      <ol style="max-width: fit-content">
        <li>
          <mat-label>How do you find your tracking number?</mat-label>
        </li>
        <mat-label
          >Your tracking number will be sent to your email after you make a
          succesful order.</mat-label
        >
        <li>
          <mat-label
            >Can I save my sending information and reuse it
            afterwards?</mat-label
          >
        </li>
        <mat-label
          >Yes, you can! However, you need to create an account in order to
          auto-complete your sending information on the next order.</mat-label
        >
        <li>In what cities do you operate?</li>
        <mat-label
          >Currently we only make deliveries in Vilnius and Kaunas.</mat-label
        >
        <li>How can I contact you?</li>
        <mat-label
          >You can contact us via email: admin@DDD.com or by calling us:
          +3706999999</mat-label
        >
      </ol>

      <button mat-flat-button color="primary" routerLink="/">
        Back to home page
      </button>
    </div>
  </form>
</div>
